<!DOCTYPE html>
<html>
<head>
  <title>login</title>
  <link rel="stylesheet" type="text/css" href="http://{{ base }}public/css/admin.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="http://{{ base }}public/css/login.css">
</head>
<form>
<h1>ajout de chapitre</h1>

  <textarea name="chapitre" id="chapitre" cols="80" rows="16"></textarea>
</br>
</br>

  <button onclick="ajoutChapitre( {{ id }}, {{ etat }} )">valider</button>
  </form>
</html>