<!DOCTYPE HTML>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>ajout de chapitre</title>
</head>
<h1>ajout de chapitre</h1>
<form action="" method="POST" enctype="multipart/form-data">
	<label for="numeroChapitre">Numero de Chapitre :</label>
	<input type="number" name="numeroChapitre" id="numeroChapitre" placeholder="Numero de Chapitre">
	<label for="titre">Titre :</label>
	<input type="text" required="required" name="titre" id="titre" placeholder="Titre">
</br>
<div id="uploader">
	Drop Files Here
</div>
<div id="upstat"></div>
<input type="hidden" name="image" id="image" placeholder="pas encore d'image">
<label for="contenu">Contenu :</label>
<textarea name="chapitre" id="chapitre" cols="150" rows="10"></textarea>
<input type="hidden" name="id" id="id" value="{{ id }}" >
<input type="submit" name="valider" value="ajouter">
<script src="https://cdn.tiny.cloud/1/vv094536he8x8yzcxmhw9qgquh8rvvnp9qekgcpm9rultedk/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({selector:'textarea'});</script>
</form>
<script src="{{ base }}/public/js/drag-drop-upload.js"></script>
</html>