  </div>
                    </div>
                    <div class="comments wrap-post">
                        <div class="header-post">
                            <div class="title-post">Ecrire un commentaire</h2></div>
                        </div>
                        <div class="content-post">
                            <div class="form-group">
                                <label for="user">Nom :</label>
                                <input type="text" class="form-control" id="author"/>
                            </div>
                        </br>
                            <div><textarea name="comment"></textarea></div>
                            <div><button id="addComment" class="flat-button">Publier</div></div>
                        </div>
                    </div>
                </div>
            </div>
