<div class="comments wrap-post">

  {{ commentaires }}

  <div class="header-post">
    <h3 class="title-post">Ecrire un commentaire</h3>
  </div>
  <div class="content-post">
    <form method="POST" action="">
      <div class="form-group">
        <label for="user">Nom :</label>
        <input type="text" required="required" class="form-control" id="author" name="author"/>
      </div>
      <br>
      <textarea name="comment"></textarea>
      <br>
      <input type="hidden" name="id" value="{{ idPost }}">
      <input id="btValide" type="submit" name="commentAction" value="Ajouter">
    </form>
  </div>
</div>

<script type="text/javascript">
  document.getElementById("btValide").onclick = function(event){
    if(document.getElementsByTagName("textarea")[0].value.length === 0) {
      event.preventDefault();
      alert("le commentaire ne peut pas être vide")
    }
  };
</script>