<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="{{ base }}/public/css/admin.css">
	<link rel="stylesheet" type="text/css" href="{{ base }}/public/css/login.css">
</head>
<body>
	<div id="container">
	{{ ack }}
	<br/>
		<form action="" method="POST">
			<h1>Interface d'administration</h1>
			<label for="pseudo">Pseudo :</label>
			<input type="text" name="user">
			<br />
			<label for="pass">Mot de passe :</label>
			<input type="text" name="password">
			<br />
			<input type="submit" name="">
			<br/>
			<br/>
		</form>
			<a href="{{ base }}/" class="button large">retour à l'accueil</a>
	</div>
</body>
</html>